body {
    font-family: "Quicksand", sans-serif;
}

.container {
    border-radius: 10px;
    padding: 0px;
    max-width: auto;
    margin: auto;
}

.margin-bottom {
    margin-bottom: 30px; 
}

h2 {
    color: #102973; 
    margin-bottom: 10px; 
    text-align: center;
    font-weight: bold;
}

.form-group {
    color: #333;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-bottom: 5px;
}

.form-control:focus {
    border-color: #102973;
    box-shadow: 0 0 5px rgba(16, 41, 115, 0.5);
}

.btn-primary {
    background-color: #102973;
    border-color: #102973;
    font-weight: bold;
    width: 49%;
}

.btn-primary:hover {
    background-color: #194073;
    border-color: #194073;
}

.btn-secondary {
    background-color: #404247;
    border-color: #949597;
    font-weight: bold;
    width: 49%;
}

.btn-secondary:hover {
    background-color: #404247;
    border-color: #949597;
}

.alert {
    margin-top: 20px;
}

.navbar-custom {
    background-color: #194073;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-custom .nav-link {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #fff;
}

.navbar-custom .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-custom .navbar-brand:hover {
    color: #fff;
}


